<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>About</h1>
<p>The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> is a <a href="https://www.railstutorial.org/book">book</a> and screencast series to teach web developer with <a href="http://rubyonrails.org/">Ruby on Rails</a>.This is the sample application for the tutorial.</p>
</body>
</html>